[submodule "widget/js/hogan"]
	path = widget/js/hogan
	url = git://github.com/twitter/hogan.js.git
[submodule "widget/js/masonry"]
	path = widget/js/masonry
	url = git://github.com/desandro/masonry.git
[submodule "widget/js/isotope"]
	path = widget/js/isotope
	url = git://github.com/desandro/isotope.git
