<div class="grid_3 gig-outerbox">
	<div class="gig-widbox">
		<h3 class="gig-widtitle">
			<img src="{{user_image}}" alt="" class="img_floatLeft gig-avatar">
			{{name}}
		</h3>
		<p class="gig-checkedin">just checked in</p>
	</div>
</div>	
