<div class="grid_3 gig-outerbox">
	<div class="gig-widbox gig-widimgbox">
		<a href="{{large_photo}}" class="modal"><img src="{{thumb_photo}}" alt=""></a>
		<div class="gig-imgauthor">
			<h3 class="gig-widtitle">
				<img src="{{user_image}}" alt="" class="img_floatLeft gig-avatar"/>
				{{name}}
			</h3>
		</div>
	</div>
</div>
