<div class="post grid_3 gig-outerbox {{orange}}">
	<div class="gig-widbox">
		<p>{{{text}}}</p>
		<h3 class="gig-widtitle">
			<img src="{{user_image}}" alt="" class="img_floatLeft gig-avatar">
			{{name}}
		</h3>
		<div class="gig-actionbtns">
			<a href="https://twitter.com/intent/tweet?screen_name={{username}}" data-related="orangefeeling,{{username}},gignal">@reply</a>
<!-- 			<a href="https://twitter.com/intent/tweet?screen_name={{username}}" class="gig-actionbtn">@reply</a>
			<a href="javascript:$(this).next().show();" class="gig-actionbtn">comment</a>
			<div class="fb-comments" data-href="http://roskilde-festival.dk/#gignal" data-num-posts="1" data-width="220" style="display:hidden;"></div> -->
		</div>
	</div>
</div>
