<div class="grid_3 gig-outerbox">
	<div class="gig-widbox gig-widimgbox">
		<a href="{{large_photo}}" class="modal"><img src="{{thumb_photo}}" alt=""></a>
		<div class="gig-imgauthor">
			<h3 class="gig-widtitle">
				<img src="images/{{service}}.png" alt="{{service}}" class="img_floatLeft gig-avatar">
				<a href="{{{profilelink}}}" target="_top"><img src="{{user_image}}" alt="avatar" class="img_floatLeft gig-avatar"></a>
				{{name}}
			</h3>
		</div>
	</div>
</div>
