<div class="grid_5 gig-outerbox">
	<div class="gig-widbox gig-widimgbox">
		<img src="{{thumb_photo}}" alt="">
		<div class="gig-imgauthor">
			<h3 class="gig-widtitle">
			<img src="{{user_image}}" alt="" class="img_floatLeft gig-avatar">
			{{name}}
		</h3>
		</div>
		<div class="gig-actionbtns">
			<a href="#" class="gig-actionbtn">Like</a>
			<a href="#" class="gig-actionbtn">share</a>
		</div>
	</div>
</div>
