<div class="post grid_5 gig-outerbox">
	<div class="gig-widbox">
		<p>{{text}}</p>
		<h3 class="gig-widtitle">
			<img src="{{user_image}}" alt="" class="img_floatLeft gig-avatar">
			{{name}}
		</h3>
	</div>
</div>
