<div class="box {{orange}}">
	<div class="box-content">
		<p>{{text}}</p>
		<div class="owner">
			<img src="images/{{service}}.png" alt="{{service}}" class="service-avatar" />
			<img src="{{user_image}}" alt="" class="avatar" />
			{{name}}
		</div>
	</div>
</div>
