<div class="gig-outerbox">
	<div class="gig-widbox gig-widimgbox">
		<img src="{{thumb_photo}}" alt="">
		<div class="gig-imgauthor">
			<h3 class="gig-widtitle">
				<img src="{{user_image}}" alt="" class="img_floatLeft gig-avatar"/>
				{{name}}
			</h3>
		</div>
	</div>
</div>
