<div class="box {{orange}}">
	<div class="box-content">
		<span>{{text}}</span>
	</div>
	<div class="owner">
		<span class="name">{{name}}</span>
		<img src="{{user_image}}" alt="" class="avatar" />
	</div>
</div>
